.loadingImg {
    height: 164px;
    width: 164px;
    border-radius: 50%;
    object-fit: scale-down;
    transform: rotate(45deg);
    animation: rotar 3s infinite linear;
    align-content: center;
}

@keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }